{% extends appTheme.getTheme~'/base.html.twig' %}

{% block title %}{% trans %}Liste des instructeurs{% endtrans %}{% endblock %}

{% block body %}

    <div class="container-table">
        <h1>{% trans %}Gérer les instructeurs{% endtrans %}</h1>
        <h2>{% trans %}Instructeurs classiques{% endtrans %}</h2>

        <div class="flex-container align-right mb-1g">
            <a href="{{ path('admin_instructor_add') }}" title="{% trans %}Ajouter un instructeur{% endtrans %}" class="border-button">
                <span>{% trans %}Ajouter un instructeur classique{% endtrans %}</span>
            </a>
        </div>

        <div class="table-wrapper">
            {% include appTheme.getTheme~'/utils/messages.html.twig' %}

            <table class="users-table table-sort">
                <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th>{% trans %}Nom{% endtrans %}</th>
                    <th>{% trans %}Prénom{% endtrans %}</th>
                    <th>{% trans %}Email{% endtrans %}</th>
                    <th>{% trans %}Téléphone{% endtrans %}</th>
                    <th>{% trans %}Type de réponse{% endtrans %}</th>
                    <th>{% trans %}Initiales{% endtrans %}</th>
                </tr>
                </thead>
                <tbody>
                    {% for instructor in classic_instructors %}
                        <tr>
                            <td class="edit-cel">
                                <a href="{{ path('admin_instructor_edit', {'id': instructor.id}) }}" title="{% trans %}Modifier l'instructeur{% endtrans %}">
                                    <i class='icon-edit'></i>
                                </a>
                            </td>
                            <td class="delete-cel">
                                <form action="{{ url('admin_instructor_remove', { id: instructor.id }) }}" method="post" class="show-alert">
                                    <input type="hidden" name="token" value="{{ csrf_token('delete-instructor') }}"/>

                                    <button type="submit" class="btn-icon"><i class="icon-bin2"></i></button>
                                </form>
                            </td>
                            <td>{{ instructor.lastName }}</td>
                            <td>{{ instructor.firstName }}</td>
                            <td><a href="mailto:{{ instructor.email }}">{{ instructor.email }}</a></td>
                            <td>{{ instructor.phone }}</td>
                            <td>
                                {% for responseType in instructor.responseType %}
                                    {% if loop.index0 > 0 %},{% endif %}
                                    {{ ('responseType.' ~ responseType)|trans }}
                                {% endfor %}
                            </td>
                            <td>{{ instructor.initials|join(',') }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="flex-container align-right">
            <a href="{{ path('admin_instructor_add') }}" title="{% trans %}Ajouter un instructeur{% endtrans %}" class="border-button">
                <span>{% trans %}Ajouter un instructeur classique{% endtrans %}</span>
            </a>
        </div>


        {% if has_territory_instructors %}
            <h2>{% trans %}Instructeurs de territoire{% endtrans %}</h2>

            <div class="table-wrapper">
                {% include appTheme.getTheme~'/utils/messages.html.twig' %}

                <table class="users-table-territory table-sort">
                    <thead>
                    <tr>
                        <th>{% trans %}Nom{% endtrans %}</th>
                        <th>{% trans %}Email{% endtrans %}</th>
                        <th>{% trans %}Téléphone{% endtrans %}</th>
                        <th>{% trans %}Adresse{% endtrans %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for instructor in territory_instructors %}
                        <tr>
                            <td>{{ instructor.departmentalHouseName }}</td>
                            <td><a href="mailto:{{ instructor.departmentalHouseMail }}">{{ instructor.departmentalHouseMail }}</a></td>
                            <td>{{ instructor.departmentalHousePhone }}</td>
                            <td>{{ instructor.departmentalHouseAddress }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}

    </div>

{% endblock %}
