// Style page authentification

.authentification {
  background: {
    image:    url("#{$img-path}/bg-departements-notaires.jpg");
    repeat:   no-repeat;
    size:     cover;
    position: center center;
  }

  main {
    display:         flex;
    flex-direction:  column;
    justify-content: center;
    align-items:     center;
    position:        relative;
    padding:         2rem;
  }

  .bloc-authent {
    max-width:        50rem;
    padding:          4rem 3rem;
    border-radius:    1rem;
    background-color: $blanc;

    @media (max-width: $small) {
      padding: 2.5rem 1.5rem 1.5rem;
    }

    .logo-departements-notaires-authent {
      display:    block;
      max-width:  100%;
      margin:     0 auto 1.5rem;
      text-align: center;
      color:      $bleu-fonce;

      @media (max-width: $small) {
        width:  25rem;
        margin: 0 auto 1rem;
      }
    }

    .intro-authent {
      margin-bottom: 1.5rem;
    }

    .input-wrapper {
      margin-bottom: 2rem;

      input {
        width: 100%;
      }

      a {
        display:         block;
        padding-top:     .5rem;
        text-align:      right;
        text-decoration: underline;
        font-size:       1.2rem;
      }
    }

    .border-button {
      margin: 0 auto 0;
    }

    .flex-container {
      justify-content: space-between;
      margin-top:      1rem;
      font-size:       1.2rem;
      color:           $gris-med;

      a {
        color: $gris-med;

        i {
          color: $bleu-med;
        }
      }
    }
  }

  .logo-department-authent {
    display:  block;
    position: absolute;
    bottom:   3rem;
    right:    3rem;

    @media (max-width: $large) {
      position: static;
      margin:   2rem 0 0;
    }

    img {
      width: 16rem;

      @media (max-width: $large) {
        width: 12rem;
      }
    }
  }
}

#unlock-account {
    color: rgb(0, 0, 238);
    text-decoration: underline;
}
