// Style pied de page

footer {
  border-top: .1rem solid rgba($bleu-med, .25);

  .container {
    display:         flex;
    align-items:     center;
    justify-content: space-between;

    @media (max-width: $tiny-plus) {
      flex-direction: column;
      padding:        1rem;
    }

    & > * {
      margin:    0;
      padding:   1.5rem;
      font-size: 1.1rem;

      @media (max-width: $tiny-plus) {
        padding: .5rem;
      }
    }

    a {
      text-decoration: underline;
      color:           $dore-fonce;
    }
  }
}
