{% extends appTheme.getTheme~'/base.html.twig' %}
{% from "default/macros/form.html.twig" import input_field %}

{% block title %}{% trans %}Changement de votre mot de passe{% endtrans %}{% endblock %}

{% block body %}

    <div class="container">
        <h1>{% trans %}Changement de votre mot de passe{% endtrans %}</h1>

        {{ form_start(changePasswordForm, {'attr': {'class': 'form-custom'}}) }}
            <div class="inputs-wrapper">
                {{ input_field(changePasswordForm.oldPassword) }}
                {{ input_field(changePasswordForm.password.first) }}
                {{ input_field(changePasswordForm.password.second) }}
            </div>

            <div class="flex-container align-right">
                {{ form_row(changePasswordForm.send, {'attr': {'class': 'border-button'}}) }}
            </div>
        {{ form_end(changePasswordForm) }}
    </div>

{% endblock %}
