{% extends appTheme.getTheme~'/base.html.twig' %}

{% block title %}{% trans %}Mes actions administrateur{% endtrans %}{% endblock %}

{% block body %}
    <div class="container">
        <h1>Mes actions administrateur</h1>
        <div class="flex-container">
            <a class="border-button admin-button" href="{{ path('admin_settings') }}">
                <span>{% trans %}Paramètres de l'application{% endtrans %} <i class="icon-parameters"></i></span>
            </a>
            <a class="border-button admin-button" href="{{ path('admin_logs') }}">
                <span>{% trans %}Consultation des accès{% endtrans %} <i class="icon-access"></i></span>
            </a>
            <a class="border-button admin-button" href="{{ path('admin_user_list') }}">
                <span>{% trans %}Gérer les utilisateurs{% endtrans %} <i class="icon-users"></i></span>
            </a>
            <a class="border-button admin-button" href="{{ path('admin_instructor_list') }}">
                <span>{% trans %}Gérer les instructeurs{% endtrans %} <i class="icon-hammer2"></i></span>
            </a>
        </div>
    </div>
{% endblock %}
