{% extends appTheme.getTheme~'/base.html.twig' %}

{% block title %}{% trans %}Liste des utilisateurs{% endtrans %}{% endblock %}

{% block body %}

    <div class="container-table">
        <h1>{% trans %}Consultation des accès{% endtrans %}</h1>

        <div class="table-wrapper">
            <table class="access-table table-sort">
                <thead>
                <tr>
                    <th>{% trans %}Libellé{% endtrans %}</th>
                    <th>{% trans %}Identifiant{% endtrans %}</th>
                    <th>{% trans %}Profil{% endtrans %}</th>
                    <th>{% trans %}Date de connexion{% endtrans %}</th>
                    <th>{% trans %}Email{% endtrans %}</th>
                    <th>{% trans %}Échec{% endtrans %}</th>
                </tr>
                </thead>
                <tbody>
                {% for log in logs %}
                    <tr>
                        <td>
                            {% if log.user %}
                                {{ log.user.name }}
                            {% else %}
                                {{ 'userLogs.accountNotExist'|trans }}
                            {% endif %}
                        </td>
                        <td>
                            {% if log.user %}
                                {{ log.user.username }}
                            {% endif %}
                        </td>
                        <td>
                            {% if log.user %}
                                {{ log.user.roles|first|trans }}
                            {% endif %}
                        </td>
                        <td data-sort="{{ log.date|date("c") }}">{{ log.date|date("d/m/Y H:i:s") }}</td>
                        <td>
                            {% if log.user %}
                                <a href="mailto:{{ log.user.email }}">{{ log.user.email }}</a>
                            {% endif %}
                        </td>
                        <td>{{ log.failure ? 'Oui'|trans : 'Non'|trans }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
