{% extends appTheme.getTheme~'/base.html.twig' %}

{% block title %}{% trans %}Liste des utilisateurs{% endtrans %}{% endblock %}

{% block body %}

    <div class="container-table">
        <h1>{% trans %}Gérer les utilisateurs{% endtrans %}</h1>

        <div class="flex-container align-right mb-1">
            <a href="{{ path('admin_user_add') }}" title="{% trans %}Ajouter un utilisateur{% endtrans %}" class="border-button">
                <span>{% trans %}Ajouter un utilisateur{% endtrans %}</span>
            </a>
        </div>

        <div class="table-wrapper">
            {% include appTheme.getTheme~'/utils/messages.html.twig' %}

            <table class="users-table table-sort">
                <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>{% trans %}Identifiant{% endtrans %}</th>
                    <th>{% trans %}Email{% endtrans %}</th>
                    <th>{% trans %}Nom{% endtrans %}</th>
                    <th>{% trans %}Profil{% endtrans %}</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                            <td class='edit-cel'>
                                <a href="{{ path('admin_user_edit', {'id': user.id}) }}" title="{% trans %}Modifier l'utilisateur{% endtrans %}">
                                    <i class='icon-edit'></i>
                                </a>
                            </td>
                            <td class="delete-cel">
                                {% if not app.user.id is same as(user.id) %}
                                    <form action="{{ url('admin_user_remove', { id: user.id }) }}" method="post" class="show-alert" data-alert-msg="{% trans %}Souhaitez-vous vraiment supprimer cet utilisateur ?{% endtrans %}">
                                        <input type="hidden" name="token" value="{{ csrf_token('delete-user') }}"/>

                                        <button type="submit" class="btn-icon" title="{% trans %}Supprimer l'utilisateur{% endtrans %}"><i class="icon-bin2"></i></button>
                                    </form>
                                {% endif %}
                            </td>
                            <td class='reset-cel'>
                                {% if not app.user.id is same as(user.id) %}
                                    <form action="{{ url('admin_user_reset_password', { id: user.id }) }}" method="post" class="show-alert" data-alert-msg="{% trans %}Souhaitez-vous vraiment lancer une réinitialisation du mot de passe ?{% endtrans %}">
                                        <input type="hidden" name="token" value="{{ csrf_token('resetPassword-user') }}"/>

                                        <button type="submit" class="btn-icon" title="{% trans %}Réinitialiser le mot de passe{% endtrans %}"><i class="icon-reinit"></i></button>
                                    </form>
                                {% endif %}
                            </td>
                            <td>{{ user.username }}</td>
                            <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
                            <td>{{ user.name }}</td>
                            <td>{{ user.roles|join(', ')|trans }}</td>
                            <td class="switch-cel">
                                {% if not app.user.id is same as(user.id) %}
                                    {% if user.disabled %}
                                        <form action="{{ url('admin_user_enable', { id: user.id }) }}" method="post" class="switch-form">
                                            <input type="hidden" name="token" value="{{ csrf_token('enable-user') }}"/>

                                            <button type="submit" class="cel-wrapper">{% trans %}Désactivé{% endtrans %} <span class="switch switch-off"></span></button>
                                        </form>
                                    {% else %}
                                        <form action="{{ url('admin_user_disable', { id: user.id }) }}" method="post" class="switch-form">
                                            <input type="hidden" name="token" value="{{ csrf_token('disable-user') }}"/>

                                            <button type="submit" class="cel-wrapper">{% trans %}Actif{% endtrans %} <span class="switch"></span></button>
                                        </form>
                                    {% endif %}
                                {% else %}
                                    {% trans %}Actif{% endtrans %}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="flex-container align-right">
            <a href="{{ path('admin_user_add') }}" title="{% trans %}Ajouter un utilisateur{% endtrans %}" class="border-button">
                <span>{% trans %}Ajouter un utilisateur{% endtrans %}</span>
            </a>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('userList', null, 'default') }}
{% endblock %}
