<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{ settings.data.appName }}{% endblock %}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <link rel="icon" href="{{ uploaded_asset(settings.data.appFavicon) }}" />
        <meta name="msapplication-TileColor" content="#333772">
        <meta name="theme-color" content="#333772">
        <meta property="og:title" content="{{ settings.data.appName }}">
        {{ encore_entry_link_tags('app', null, 'default') }}
        {{ encore_entry_script_tags('app', null, 'default') }}

        {% block stylesheets %}{% endblock %}

        <link rel="stylesheet" type="text/css" media="all" href="{{ asset('styles.css') }}" />

        {% block head_javascripts %}{% endblock %}
    </head>
    <body {% if body_class is defined %} class="{{ body_class }}"{% endif %}>
        {% if not no_header is defined or no_header != 1 %}
            {% include appTheme.getTheme~'/utils/header.html.twig' %}
        {% endif %}
        <main>
            {% set cookieId = settings.data.serviceMessage[:3] ~ settings.data.serviceMessage[-3:] %}
            {% if settings.data.serviceMessage is not same as '' and
                app.request.cookies.get('message_read_' ~ cookieId, false) != true  and
                app.request.get('_route') not in ['app_login', 'forgot_password']
            %}
                <div id="service-message" class="container alert alert-info">
                    <p>
                        <i class="icon-info"></i>
                        {{ settings.data.serviceMessage|raw }}
                        <a id="close-service-message"
                           data-id="{{ cookieId }}"
                           tabindex="0"
                           role="button"
                           aria-label="Fermer le message de service">
                            <i class="icon-close"></i>
                        </a>
                    </p>
                </div>
            {% endif %}
            {% block body %}{% endblock %}
            {% block javascripts %}{% endblock %}
        </main>

        {% if not no_footer is defined or no_footer != 1 %}
            {% include appTheme.getTheme~'/utils/footer.html.twig' %}
        {% endif %}
    </body>
</html>
