{% extends appTheme.getTheme~'/base.html.twig' %}

{% block body %}

    <div class="container">
        <h1>Aide</h1>

        <table class="warning">
            <tr>
                <td>
                    <div class="circle">
                        <p class="warning-icon">&nbsp;!</p>
                    </div>
                </td>
                <td>
                    <strong>
                        Avant d'effectuer une recherche, vous devez être en possession de l'acte de décès
                        de la personne dont vous êtes en charge de la succession.
                    </strong>
                </td>
            </tr>
        </table>
        <br />

        <h2>Pour vous connecter</h2>
        <br />
        <h3>Accès à l'application</h3>
        <p class="text-justify">
            L'adresse web de {{ settings.data.appName }} est : {{ settings.data.appUrl }}
            <br />
            L'application est également accessible via le site web du {{ settings.data.departmentName }} : {{ settings.data.departmentSite }}
        </p>

        <p class="nota">
            <i>Nota</i> : pour un confort optimal de navigation, nous vous recommandons d'utiliser les dernières versions des
            navigateurs du marché.
            Le bon fonctionnement de Départements et Notaires a été vérifié avec les navigateurs suivants :
        </p>
        <ul>
            <li>Firefox (à partir de la version 76)</li>
            <li>Chrome (à partir de la version 83)</li>
            <li>Microsoft Edge</li>
        </ul>
        <br/>

        <h3>Comptes</h3>
        <p class="text-justify">
            Chaque étude notariale du {{ settings.data.departmentName }} dispose d'un propre compte de connexion.
            Ce compte est générique pour l'ensemble des associés potentiels d'une étude.<br /> A chaque compte est associé :
        </p>
        <ul>
            <li>un nom

            <li>un identifiant (CERPCEN)

            <li>un mot de passe

            <li>une adresse de messagerie

        </ul>
        <p class="text-justify">L'adresse de messagerie associée à votre compte correspond à l'adresse générique de
            votre étude, diffusée par la chambre des notaires du {{ settings.data.departmentName }}.</p>

        <h2>Connexion</h2>
        <p class="text-justify">Les éléments nécessaires à votre connexion sont votre identifiant et votre mot de
            passe.</p>
        <ul>
            <li>L'identifiant de votre étude correspond à votre code CRPCEN (ex : 69103).</li>
            <li>Le mot de passe de première connexion vous a été envoyé par mail à l'adresse de messagerie associée à votre
                compte. Il vous sera demandé de le personnaliser dès votre première connexion.</li>
        </ul>

        <h3>Pour effectuer une recherche</h3>
        <br/>
        <p class=nota>
            <i>Nota</i> : les dates renseignées devront être comprises entre le 1er janvier 1900 et la date de la veille de
            votre saisie.
        </p>
        <br/>
        <h2>Renseignements sur l'acte de décès</h2>
        <ul>
            <li>cocher la case attestant que vous détenez bien l'acte de décès (saisie obligatoire)</li>
            <li>renseigner la date du décès (sous le format jj/mm/aaaa) (saisie obligatoire)</li>
            <li>renseigner le lieu du décès (saisie obligatoire)</li>
            <li>renseigner la date à laquelle l'acte de décès a été dressé (sous le format jj/mm/aaaa) (saisie obligatoire)</li>
            <li>renseigner le champ destinataire (facultatif). Les informations saisies dans ce champ apparaîtront dans
                l'objet du mail relatif à votre recherche, et vous permettront d'identifier le collaborateur en charge de la
                succession.</li>
        </ul>

        <h3>Renseignements sur la personne décédée dont vous êtes en charge de la succession</h3>
        <ul>
            <li>renseigner son premier prénom figurant sur l'état civil (que ce soit un prénom simple ou composé) (saisie obligatoire)</li>
            <li>renseigner le cas échéant son deuxième prénom figurant sur l'état civil (saisie non obligatoire)</li>
            <li>les autres prénoms peuvent être ajoutés en cliquant sur le '+' ; ils devront être séparés par des virgules</li>
            <li>renseigner son nom d'usage (nom patronymique ou bien nom d'époux) (saisie obligatoire)</li>
            <li>renseigner le cas échéant son nom figurant sur l'état civil (nom patronymique si le nom d'usage est le nom d'époux) (saisie non obligatoire)</li>
            <li>renseigner sa date de naissance (sous le format jj/mm/aaaa) (saisie obligatoire)</li>
        </ul>
        <p class="nota">
            <i>Nota</i> : pour les services du département, la personne est connue sous son nom d'usage, celui qu'elle utilise
            dans ses démarches quotidiennes (souvent, le nom d'épouse pour les femmes mariées). Aussi c'est celui qui doit
            être indiqué en premier. Le nom d'état civil ne doit être complété que si le nom d'usage est différent du nom de
            naissance.
        </p>
        <br/>

        <h2>La recherche :</h2>
        <br/>

        <p class="text-justify">
            Une fois que vous avez appuyé sur le bouton "recherche", une page s'ouvre pour vous informer que la réponse,
            quant à votre interrogation au sujet d'une éventuelle créance du département, vous a été adressée par message
            électronique. <br /> <br />Le message électronique et son courrier en pièce-jointe vous informeront si la personne
            a bénéficié ou non d'une aide sociale récupérable du département. <br /> <br />La réponse est délivrée par
            l'interface du département sous réserve de l'exactitude des éléments renseignés. <br />
        </p>
        <p class="nota">
            <i>Nota</i> : il est probable qu'il ne soit pas possible d'établir avec certitude l'identité de la personne. C'est
            le seul cas où vous n'aurez pas de réponse immédiate. En effet, dans ce cas, les services feront une recherche et
            vous adresseront leur réponse dans les meilleurs délais.
        </p>
        <br />

        <h2>Le Support :</h2>
        <br/>

        <p class="text-justify">
            Pour toute difficulté d'ordre technique ou fonctionnelle, vous pouvez adresser un message électronique à :
            <a class="mail" href="mailto:{{ settings.data.pdfSuccessionMail }}">Service successions</a>
            <br /> <br />
            L'application est accessible à toutes les études notariales du {{ settings.data.departmentName }} 24h/24 et 7j/7,
            le support est assuré uniquement durant les journées ouvrées. Le support de l'application se fait par mail à
            l'adresse {{ settings.data.pdfSuccessionMail }}.
        </p>
    </div>
{% endblock %}
