{% extends appTheme.getTheme~'/base.html.twig' %}

{% block title %}{% trans %}Recherche{% endtrans %}{% endblock %}

{% block body %}

    <div class="container">
        <h1>{% trans %}Résultat de la recherche{% endtrans %}</h1>

        <div class="container-small">
            {% include appTheme.getTheme~'/utils/messages.html.twig' %}

            {% if (showForm) %}
                <h2>{% trans %}Transfert des documents de succession{% endtrans %}</h2>
                <p class="title-notice notice">{% trans %}Tous les champs comportants * sont obligatoires.{% endtrans %}</p>
                <p class="separate-bottom">
                        Afin d'accélérer le traitement du dossier, merci de bien vouloir envoyer au moins l'un des documents suivants.
                        ({% trans %}documentaryExchange.error.documentFile{% endtrans %})
                </p>
                {% form_theme form appTheme.getTheme~'/form/fields.html.twig' %}
                {% from appTheme.getTheme~'/macros/form.html.twig' import input_file %}
                {{ form_start(form) }}
                    <div class="inputs-wrapper">
                        {{ input_file(form.deathDocument) }}
                        {{ input_file(form.netDocument) }}
                        {{ input_file(form.otherDocument) }}
                    </div>
                    <div class="flex-container align-middle">
                        <button type="submit" class="border-button">{% trans %}documentaryExchange.send{% endtrans %}</button>
                    </div>
                {{ form_end(form) }}
            {% endif %}

            <a href="{{ path('search') }}" title="{% trans %}Retour à la recherche{% endtrans %}" class="back-link">
                <i class="icon-back"></i> {% trans %}Retour à la recherche{% endtrans %}
            </a>
        </div>
    </div>

{% endblock %}
