@page {
  font-family:   Arial, sans-serif;
  font-size:     11pt;
  padding-left:  1.0cm;
  padding-right: 1.0cm;
}

p {
  font-family: Arial, sans-serif;
  font-size:   11pt;
}

.logo_top {
  text-align: center;
}

.contact {
  font-family:    Arial, sans-serif;
  font-size:      7pt;
  vertical-align: bottom;
  letter-spacing: 0.5px;
  line-height:    12pt;

  td {
    vertical-align: middle;
    padding-bottom: 2px;
  }

  .icon {
    img {
      width:  14px;
      height: 14px;
    }
  }
}

.contact-droite {
  position:       absolute;
  vertical-align: bottom;
  font-family:    Arial, sans-serif;
  font-size:      7pt;
  letter-spacing: 0.5px;
  text-align:     right;
}

.reference {
  font-family: Arial, sans-serif;
  font-size:   7pt;
}

.object {
  font-family:    Arial, sans-serif;
  font-size:      11pt;
  font-weight:    bold;
  vertical-align: top;
  padding-right:  0.5cm;
  letter-spacing: 0.5px;
}

.date {
  font-family:   Arial, sans-serif;
  text-align:    right;
  font-size:     11pt;
  font-weight:   normal;
  padding-left:  0.5cm;
  padding-right: 1.0cm;
}

.body {
  font-family:    Arial, sans-serif;
  padding-left:   1.0cm;
  padding-right:  1.0cm;
  text-align:     justify;
  text-indent:    1cm;
  letter-spacing: 0.4px;
}

.signature {
  font-family:   Arial, sans-serif;
  padding-right: 1.0cm;
}

.bas_page {
  position: fixed;
  bottom:   0;
  left:     6cm;
  margin:   auto;
  width:    8cm;
  height:   2cm;
}

ul {
  list-style-type: none;
}
