// Style containers, blocs flex, etc

main {
  padding: 4rem 0;

  @media (max-width: $small-plus) {
    padding: 2.5rem 0;
  }

  .container {
    padding: 0 1.5rem;
  }
}

%container {
  width:  100%;
  margin: 0 auto;
}

.container-small {
  max-width: 70rem;
  @extend %container;
}

.container {
  max-width: 105rem;
  @extend %container;
}

.flex-container {
  display:   flex;
  flex-wrap: wrap;
  margin:    -1rem;

  & > * {
    margin: 1rem;
  }

  &.align-right {
    justify-content: flex-end;
  }
  &.align-middle {
    justify-content: center;
  }
}

.separate-top {
  margin-top:  3rem;
  padding-top: 3rem;
  border-top:  .1rem solid rgba($bleu-med, .3);
}

.separate-bottom {
    margin-bottom:  3rem;
}

.mb-1 {
    margin-bottom:  1rem;
}
