// Styles de base

html {
  display:                     flex;
  flex-direction:              column;
  font-size:                   62.5%;
  font-size:                   calc(1em * 0.625);
  -webkit-text-size-adjust:    100%;
  -ms-text-size-adjust:        100%;
  -ms-overflow-style:          scrollbar;
  -webkit-tap-highlight-color: transparent;
}

body {
  position:       relative;
  min-height:     100vh;
  display:        flex;
  flex-direction: column;
  font:           300 1.4rem $font-base;
  color:          $anthracite;

  &.is-fixed {
    width:    100%;
    overflow: hidden;
  }

  &:not(.authentification) {
    main {
      margin-top: 158px;
    }
  }
}

main {
  flex: 1 1 auto;
}

::selection {
  color:      $blanc;
  background: $bleu-med;
}

a {
  position:        relative;
  text-decoration: none;
  cursor:          pointer;
  color:           $dore-fonce;
}

b, strong {
  font-weight: 700;
}

#js_error {
  display: none;
}

.text-justify {
  text-align: justify;
}

.nota {
  background-color: $gris-blanc;
  padding:          10px;
  border:           0.1rem solid rgba(93, 110, 160, 0.5)
}

ol {
  li {
    margin: 5px;
  }
}

#service-message {
    position: relative;
    p {
        padding-top: 1%;
        padding-bottom: 1%;
        width: 95%;
    }
    #close-service-message {
        position: absolute;
        right: 8px;
        top: 8px;
    }
}
